<!-- HEADER END-->
<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a class="{$controller=='Index' ? 'menu-top-active' : ''}" href="__URL__admin/index/index">首页</a></li>
                        <li><a class="{$controller=='Banner' ? 'menu-top-active' : ''}" href="__URL__admin/banner/index">轮播图管理</a></li>
                        <li><a class="{$controller=='User' ? 'menu-top-active' : ''}" href="__URL__admin/user/index">用户管理</a></li>
                        <li><a class="{$controller=='Lecture' ? 'menu-top-active' : ''}" href="__URL__admin/lecture/index">讲座管理</a></li>
                        <li><a class="{$controller=='Place' ? 'menu-top-active' : ''}" href="__URL__admin/place/index">地点管理</a></li>
                        <li><a class="{$controller=='Attendance' ? 'menu-top-active' : ''}" href="__URL__admin/attendance/index">签到管理</a></li>
                        <li><a class="{$controller=='Enroll' ? 'menu-top-active' : ''}" href="__URL__admin/enroll/index">报名管理</a></li>
                        <li><a  href="__URL__admin/login/logout">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>