{include file="public/header"}
<body>
{include file="public/nav"}
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">添加轮播图</h4>
            </div>
        </div>
        <div class="container">
            <form id="submitForm" method="post" enctype="multipart/form-data" class="form-signin form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题图:</label>
                    <div class="col-sm-10">
                        <input id="file_upload"  type="file" multiple="true">
                        <img style="display:none" id="upload_org_code_img" src="" width="150" height="150">
                        <input id="file_upload_image" name="photo_url" type="hidden" multiple="true" value="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button id="submitButton" class="btn btn-primary" type="button">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var URL = {
        'success_url' : '__URL__/admin/banner/index',
        'add_url' : '__URL__/admin/banner/add',
        'image_url' : '__URL__/admin/image/upload',
        'swf_url' : '__STATIC__/uploadify/uploadify.swf'
    };
</script>

<script src="__STATIC__/admin/js/image.js"></script>
{include file="public/footer"}