<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>聚英通内测</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--link href="__STATIC__/admin/uploadify/uploadify.css" rel="stylesheet"-->
</head>
<body>

<div class="container ">
    <form id="submitForm" method="post" enctype="multipart/form-data" class="form-signin form-horizontal">
        <div class="form-group">
            <div class="col-sm-12"><h3 style="text-align: center">聚英通内测（我们才是最酷的）</h3></div>
        </div>

        <div class="form-group">
            <div class="col-sm-4"><h4>活动说明：</h4></div>
            <div class="col-sm-12">
                <p>
                    所有参与活动并获得抽奖码的用户，均有机会获得小米手环2，同时均有资格第一时间体验我们的产品。
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">请输入口令或四位数抽奖码:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="code" id="code" placeholder="请填写邀请码">
            </div>
        </div>

        <div class="form-group">
            <label for="telephone" class="col-sm-2 control-label">请输入您的手机号:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="telephone" id="telephone" placeholder="请填写手机号">
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button id="submitButton" class="btn btn-primary" type="button">提交</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <p>及时获取中奖消息以及更多奖品（红包、电影票、美食券），扫描二维码加入群聊</p>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <img src="__STATIC__/img/code.jpg" class="img-responsive">
        </div>
    </div>
</div>

<div class="container" id="show" style="display: none">
    <h4>您的抽奖号码为：（抽奖码是中奖的唯一凭据）</h4>
    <div id="codes">
        <p></p>
    </div>

</div>

<div class="container">
    <h4>注意事项：</h4>
    <p>1. 口令可以生成四位数抽奖码，四位数抽奖码可以生成五位数抽奖码，所有抽奖码均有机会赢取各类奖品（小米手环2、电影票、红包、美食券...）。</p>
    <p>2. 四位数抽奖码十分稀少，我们将在各类活动、节目中不定期放出，敬请期待。</p>
    <p>3. 所有参与活动并获得抽奖码的用户，均有资格第一时间体验我们的产品。同时，也可以和我们工作人员联系，参与到产品设计当中，建议被采用的用户，还将获得神秘礼品</p>
    <p style="font-size: 10px">本活动最终解释权归聚英通团队所有</p>
</div>
<script>
    var URL = {
        'submit_url' : "__URL__beta/index/submit",
        'success_url' : "__URL__beta/index/index"
    };
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="__STATIC__/layer/dialog/layer.js"></script>
<script src="__STATIC__/layer/dialog.js"></script>
<script>
    $('#submitButton').click(function () {
        var res = $('#submitForm').serializeArray();
        var postData = {};
        $(res).each(function (i) {
            postData[this.name] = this.value;
        });
        $.post(URL.submit_url, postData, function (result) {
            if(result.status===1){
                $('#show').show();
                var html = '';
                $(result.data).each(function (index, element) {
                    index += 1;
                    html += "<p>" + element + "</p>";
                });

                $("#codes").html(html);
            }
            if(result.status===0){
                dialog.error(result.message);
            }
        },"JSON");
    });
</script>
</body>
</html>
